@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* @import "bourbon"; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

/* général */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
font-family: 'Times New Roman', Times, serif;
font: 16px;
color: orange;
}

li, nav{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    opacity: 0.6;
    font-weight: 800;
}

a:hover{
    opacity: 1;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 125px 100px;
}

@media (max-width: 1000px){
section{
    padding: 100px 50px;
}
}

@media (max-width: 700px) {
    section{
        padding:80px 30px;
    }
}

section h3.title {
    color: #414a4f;
    text-transform: capitalize;
    font: bold 32px 'Times New Roman', 'sans-serif';
    margin-bottom: 35px;
    text-align: center;
}

section p {
    max-width: 800px;
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 2;
}

ul.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* Header */

header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: orange;
    padding: 35px 100px 0;
    background-color: black;
    padding-bottom: 20px;
}

header h2 {
    font-family: "lobster", sans-serif;
    font-size: 35px;
}

header nav{
    display:flex;   
}
header nav li {
    margin: 0 15px;
}

@media (max-width: 1000px){
    header{
        padding: 20px 50px;
    }
}

@media (max-width: 700px){
    header{
        flex-direction: column;
    } 
    header h2{
        margin-bottom: 15px;
    }

}

/* Page d'accueil */

.hero{
    position: relative;
    justify-content: center;
    min-height: 100vh;
    color: red;
    text-align: center;
    bottom: 25%;
}

.hero .background-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: #2196F3;
    opacity: 0.4;
    z-index: -1;
    
}

@media (max-width: 600px){
    header{
        color:red;
    }
}

.hero h1{
    font: bold 60px 'Times New Roman', sans-serif;
    margin-bottom: 15px;
}

.hero h3{
    font: normal 28px 'Times New Roman', 'sans-serif';
    margin-bottom: 40px;
}

@media (max-width: 800px) {
    .hero{
        min-height: 600px;
    }    
    .hero h1{
        font-size: 40px;
    }
    .hero h3{
        font-size: 24px;
    }
    .hero a{
        padding: 15px 40px;
    }
}

/* L'agence section */



/* carousel */


























 /* Footer */
  
 .body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

  .footer{
    flex-shrink: 0;
    border-top: 1px dashed black;
    width: 100%;
    background-color: grey;
    display: flex;
    flex-direction: column;
 
    
  }

  .contenu {
    flex: 1 0 auto;
  }

 .contenu-footer{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    font-size: 20px;
    padding:  50px 0 100px;
    

 }

 .bloc {
    width: 25%;
    margin: 0 30px;

 }

.contact h3{
    font-size: 25px;
    padding-bottom: 20px;
}

.liste-services,
.reseaux{
    list-style-type: none;
}
.liste-services li {
    padding: 2px 0;
    gap: 500px;
}
.liste-services {
    text-decoration: none;
}
.liste-services a:hover{
    color:rgb(orange, orange, orange);
}

.reseaux img{
    width: 40px;
    margin: 10px 10px;
}

.reseaux a {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 25px;
}

/* Media Query */

@media screen and (max-width:1300px) {
    .contenu-footer{
        width: 700px;
        flex-wrap: wrap;
    }
    ;bloc{
        width: 40%;
        margin: 0 0;
    }
    .bloc:nth-child(1),
    .bloc:nth-child(2){
        margin-bottom: 50px;
    }
}

@media screen and (max-width:800px){
    .contenu-footer {
        width: 320px;
    }
    .bloc{
        width: 300px;
        margin: 30px 30px;
    }
    .bloc:nth-child(1),
    .bloc:nth-child(2){
        margin-bottom: 30px;
    }
    .bloc:nth-child(1) {
        margin-top: 0;
    }
}

/* ils nous font confiances */

    body {
	align-items: center;
	 background: #E3E3E3;
	 /* display: flex;  */
	 height: 100vh; 
	 justify-content: center;
}

